/*@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');*/

.fadingText {
	font-size: 1.5em;
	color: rgb(0, 0, 0);
	/* text-shadow: 0 0 0.1em rgb(0, 0, 0); */
	text-align: center;
	margin-top: 1em;
	margin-bottom: 1em;
	animation: fadeIn 6s;
}

@keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}